main.main
	margin-top	30px
/*
.scrolltable tr.showIfLast td{
	height: 43px;
}
.scrolltable thead {
	position: fixed;
	height: 40px;
	width: 100%;
}
.scrolltable thead tr{
	width: 100%;
}
.scrolltable tfoot {
	position: fixed;
	bottom: 4px;
	height: 40px;
}
*/
